@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .customerContactInfo {
    display: grid;
    gap: $SMALL;
    label,
    input {
      @include font-type($MAIN_FONT, $MEDIUM);
      min-height: 100%;
    }
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE);
    }
    &__messageError {
      color: $ERROR_RED;
    }
    &__section {
      display: grid;
      &Names {
        gap: $SMALL;
        grid-template-columns: repeat(2, 1fr);
      }
      &Contact {
        gap: $SMALL;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
