@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .customerAddressInfo {
    display: grid;
    gap: $SMALL;
    label,
    input {
      @include font-type($MAIN_FONT, $MEDIUM);
      min-height: 100%;
    }
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE);
    }
    &__section {
      display: grid;
      gap: $SMALL;
      grid-template-columns: 3fr 1fr 2fr;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
